<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="img/logo2.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/community.css">
    <style>
        header ul li:nth-child(5)>a{
          color: #f0094a;
        }
      </style>
</head>

<body>
    <%- include('./layout/header.ejs')%>
        <main style="margin:80px">
            <%if(!recipeData.length){%>
                <h2 style="margin:100px">you don't have data</h2>
                <%}else{ console.log(comments); recipeData.forEach(item=>{%>
                    <section>
                        <article>
                            <h2 id='title'>
                                <%=item.recipename%>
                            </h2>
                            <h3>
                                <%=item.username%>
                            </h3>
                            <figure>
                                <img src="<%=item.img_url%>" alt="">
                                <button id="<%=item.id%>" class='viewbtn'>view comments</button>
                            </figure>
                           
                            <div>
                                <h2> Serving: <%=item.serving%>
                                </h2>
                                <h2> Preperation Time: <%=item.time%> min </h2>
                            </div>
                            <h2>Ingredients</h2>
                            <h2>
                                <%=item.ingredient%>
                            </h2>
                            <h2> Instructions</h2>
                            <h2>
                                <%=item.instuctions%>
                            </h2>
                        </article>
                      
                        <div id="commentsSection<%=item.id%>"  style="display: none;" class='comDiv'>
                            <h2>Comments</h2>
                            <div id="allComments<%=item.id%>" >
                                <%if(comments[`${item.id}`]){for (let i=0; i< comments[`${item.id}`].length; i=i+2){%>
                                    <div class='viewDiv'>
                                        <h2>
                                            <%= comments[`${item.id}`][i] %> 
                                        </h2>
                                        <h3>
                                            <%= comments[`${item.id}`][i+1]%>
                                        </h3>
                                    </div>
                                    <% } } %>
                            </div>
                            <form action="/community/<%=item.id%>?_method=put" method="POST">
                                <fieldset>
                                    <legend>Comment </legend>
                                    <span>Add your Name</span> <br><br>
                                    <input type="text" name="addname" id="addedname<%=item.id%>" required>
                                    <span>Add your Comment</span> <br><br>
                                    <input type="text" name="ccc" id="addedComment<%=item.id%>"
                                    required>
                                    <button class="btn-11" id="addComment<%=item.id%>">Post</button>
                                </fieldset>
                              
                            </form>
                        </div>
                    </section>
                    <%})%>
                        <%}%>
        </main>
        <%- include('./layout/footer.ejs')%>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="js/community.js"></script>
           
</body>

</html>